@{
  Layout = "_Layout";
}
<form action="/animal" method="post">
    <label for="name">Pet Name</label>
    <input type="text" name="name" id="name">
    <label for="type">Type of animal</label>
    <input type="text" name="type" id="type">
    <label for="breed">Breed</label>
    <input type="text" name="breed" id="breed">
    <label for="sex">Sex</label>
    <input type="text" name="sex" id="sex">
    @* <label for="intake">Intake Date</label>
    <input type="date" name="intake" value="intake"> *@
    <button type="submit" name="button">Submit Entry</button>
</form>
