<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Shleter</title>
  </head>
  <body>
    <header>
      <h1>Friendly Happy Love Joy Joy Animal Shelter</h1>
    </header>
@RenderBody()
  </body>
</html>
